/* ----Public resource---- */

body {
  font-family: "Open Sans", sans-serif;
}
.orange-color {
  color: orange;
}
.public-button {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.text-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* ---------------------------------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.ownername {
  font-size: 45px;
  font-weight: 800;
}

/* Header style */
.header {
  background-color: #fff8f3;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner .profile-picture {
  width: 500px;
  height: 600px;
}
.greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.owner {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
}
/* ------------------Main part-------------------------- */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about {
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;

}
.info-container{
    display: flex;
    justify-content: space-around;
    
}

.about-info{
    text-align: center;
}
/* skills style section */
#what-i-description{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(243, 4, 4, 0.06);
}
.section-description, .worker-university{
    color: #757575;
}

/* resume section style */
.resume-title{
    text-align: center;
}

.worker-title, .coloumn-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.worker-university{
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.resume-container hr{
    margin: 30px;
}
.worker-education{
   
}

.dwonload-cv{
    text-align: center;
    margin-top: 50px;
}