/* ----Public resource---- */

body {
  font-family: "Open Sans", sans-serif;
}
.orange-color {
  color: orange;
}
.public-button {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}
/* ---------------------------------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.ownername {
  font-size: 45px;
  font-weight: 800;
}

/* Header style */
.header{
    background-color: #FFF8F3;;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}
.banner .profile-picture{
    width: 500px;
    height: 600px;
}

.banner .banner-content{
    
}